<!doctype html>
<html lang="en">

<head>
	<title>Panels | Klorofil - Free Bootstrap Dashboard Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="{{STATIC_URL}}/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="{{STATIC_URL}}/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="{{STATIC_URL}}/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{STATIC_URL}}/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="{{STATIC_URL}}/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{STATIC_URL}}/img/user.png" class="img-circle" alt="Avatar"> <span>{{persona.Nombre}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="/inicio/"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/usuario/inicio_sesion/" class=""><i class="lnr lnr-home"></i> <span>Cuentas</span></a></li>
						<li><a href="/transacciones" class="active"><i class="lnr lnr-code"></i> <span>Realizar Transaccion</span></a></li>
						<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Servicios</span></a></li>
						<li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Perfil</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">{{persona.Nombre}} {{persona.Apellido}}</h3>
					<div class="row">
						<div class="col-md-12">
							<!-- PANEL HEADLINE -->
							<form id="FormularioTransaccion" class="panel panel-headline" action="/RealizarTransaccion/" method="POST">
								<!-- INPUTS -->
								{% block title %}
								<div class="panel">
									<div class="panel-heading">
										<h3 class="panel-title">Transferencia Bancaria</h3>
									</div>
									<div class="panel-body">
										<a>Seleccionar Cuenta <span class="badge"></span></a>
										<br>
										<br>
										<select name="CuentaOrigen" class="form-control">
											{% for cuenta in Cuentas %}
											<option value={{ cuenta.NumeroCuentaBancaria }}>{{ cuenta.NumeroCuentaBancaria }} - QTZ - {{cuenta.saldo}}</option>
											{% endfor %}
										</select>
										<br>
										<a>Cuenta Destino <span class="badge"></span></a>
										<br>
										<br>					
										<input type="number" name="CuentaDestino"  class="form-control" placeholder="Digitar Cuenta Bancaria Destino">
										<br>
										<a>Monto de Transaccion <span class="badge"></span></a>
										<br>
										<br>					
										<input type="number" name="MontoTransaccion"  class="form-control" placeholder="Monto de Transaccion">										<br>
										<a>Descripcion de la Transaccion<span class="badge"></span></a>
										<br>
										<br>										
										<textarea class="form-control" name="Descripcion"  placeholder="Descripcion de Transaccion" rows="4"></textarea>
										<br>
										<br>
										<a>Digitar Contrasena Usuario <span class="badge"></span></a>
										<br>
										<br>
										<div class="form-group">
											<input type="password" name="password"  class="form-control" id="signin-password"  placeholder="Password">
										</div>										
										<button id="Boton" type="submit" class="btn btn-primary btn-lg btn-block">Realizar Transaccion</button>
									</div>
									{% endblock %}
								</div>
								<!-- END INPUTS -->
							</form>
							<!-- END PANEL HEADLINE -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->

	<script src="{{STATIC_URL}}/vendor/jquery/jquery.min.js"></script>
	<script src="{{STATIC_URL}}/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="{{STATIC_URL}}/scripts/klorofil-common.js"></script>
	
</body>

</html>
